section.block
    .container
          .new-sec
            .col-md-6
              .post-style3(itemscope='', itemtype='http://schema.org/BlogPosting')
                img(itemprop='image', src='images/cpsxVOcmL1Q.jpg', alt='')
                .post-detail3
                  .cat
                    a(title='', href='#', itemprop='url') Photoshop
                  h3(itemprop='headline')
                    a(itemprop='url', href='single5.html', title='') The &lsquo;Star Wars Awakenstr
                  .date
                    ul
                      li
                        | BY 
                        a(title='', href='#', itemprop='url') ADMIN
            .col-md-3
              .post-style3(itemscope='', itemtype='http://schema.org/BlogPosting')
                img(itemprop='image', src='images/YP4HR2MPBEY.jpg', alt='')
                .post-detail3.small-font
                  .cat
                    a(title='', href='#', itemprop='url') Designer
                  h3(itemprop='headline')
                    a(itemprop='url', href='single6.html', title='') The &lsquo;Star Wars Awakenstr
                  .date
                    ul
                      li
                        | BY 
                        a(title='', href='#', itemprop='url') ADMIN
            .col-md-3
              .post-style3(itemscope='', itemtype='http://schema.org/BlogPosting')
                img(itemprop='image', src='images/UN4NGvRRhXI.jpg', alt='')
                .post-detail3.small-font
                  .cat
                    a(title='', href='#', itemprop='url') Designer
                  h3(itemprop='headline')
                    a(itemprop='url', href='single7.html', title='') The &lsquo;Star Wars Awakenstr
                  .date
                    ul
                      li
                        | BY 
                        a(title='', href='#', itemprop='url') ADMIN
            .col-md-3
              .post-style3(itemscope='', itemtype='http://schema.org/BlogPosting')
                img(itemprop='image', src='images/nNSUCy5xQ1A.jpg', alt='')
                .post-detail3.small-font
                  .cat
                    a(title='', href='#', itemprop='url') Designer
                  h3(itemprop='headline')
                    a(itemprop='url', href='single8.html', title='') The &lsquo;Star Wars Awakenstr
                  .date
                    ul
                      li
                        | BY 
                        a(title='', href='#', itemprop='url') ADMIN
            .col-md-3
              .post-style3(itemscope='', itemtype='http://schema.org/BlogPosting')
                img(itemprop='image', src='images/l0rxdCmtQto.jpg', alt='')
                .post-detail3.small-font
                  .cat
                    a(title='', href='#', itemprop='url') Designer
                  h3(itemprop='headline')
                    a(itemprop='url', href='single.html', title='') The &lsquo;Star Wars Awakenstr
                  .date
                    ul
                      li
                        | BY 
                        a(title='', href='#', itemprop='url') ADMIN