aside.col-md-4.column
              .widget
                .tabs-widget
                  ul.nav.nav-tab
                    li.active
                      a(href='#recent', data-toggle='tab') Recent
                    li
                      a(href='#popular', data-toggle='tab') popular
                    li
                      a(href='#trendy', data-toggle='tab')
                        i.fa.fa-bolt
                  .tab-content
                    #recent.tab-pane.fade.in.active
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single.html', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single2.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single2.html', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single3.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single3.html', itemprop='url') Is the New Android Wear Really That Good?
                    #popular.tab-pane.fade
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single4.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single4.html', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single5.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single5.html', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style1(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb1
                          img(alt='', src='http://placehold.it/108x102', itemprop='image')
                          a.img-link(href='single6.html', title='', itemprop='url')
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                        h3(itemprop='headline')
                          a(title='', href='single6.html', itemprop='url') Is the New Android Wear Really That Good?
                    #trendy.tab-pane.fade
                      .post-style7(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb7
                          img(alt='', src='http://placehold.it/318x144', itemprop='image')
                        .post-detail7
                          .date
                            ul
                              li
                                a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                          h3(itemprop='headline')
                            a(title='', href='#', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style7(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb7
                          img(alt='', src='http://placehold.it/318x144', itemprop='image')
                        .post-detail7
                          .date
                            ul
                              li
                                a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                          h3(itemprop='headline')
                            a(title='', href='#', itemprop='url') Is the New Android Wear Really That Good?
                      .post-style7(itemtype='http://schema.org/BlogPosting', itemscope='')
                        .post-thumb7
                          img(alt='', src='http://placehold.it/318x144', itemprop='image')
                        .post-detail7
                          .date
                            ul
                              li
                                a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 NOV 2015
                          h3(itemprop='headline')
                            a(title='', href='#', itemprop='url') Is the New Android Wear Really That Good?
              .widget
                h3.heading4 Top Rating Articals
                ul.readable-post
                  li
                    .post-style9(itemtype='http://schema.org/BlogPosting', itemscope='')
                      i 1.
                      a(itemprop='url', href='#', title='') IN DIGNISSIM ORCI AT PURU
                  li
                    .post-style9(itemtype='http://schema.org/BlogPosting', itemscope='')
                      i 2.
                      a(itemprop='url', href='#', title='') SED DICTUM NISI TURPIS ENAR
                  li
                    .post-style9(itemtype='http://schema.org/BlogPosting', itemscope='')
                      i 3.
                      a(itemprop='url', href='#', title='') IN DIGNISSIM ORCI AT PURU
                  li
                    .post-style9(itemtype='http://schema.org/BlogPosting', itemscope='')
                      i 4.
                      a(itemprop='url', href='#', title='') IN DIGNISSIM ORCI AT PURU