section.block
        .container
          .row
            .col-md-8.column
              .top-margin
                .post-style4(itemtype='http://schema.org/BlogPosting', itemscope='')
                  .row
                    .col-md-6
                      .post-thumb4
                        img(alt='', src='images/4.jpg', itemprop='image')
                        a.img-link(href='single.html', title='', itemprop='url')
                    .col-md-6
                      .post-metas4
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 Nov 2015
                            li
                              a(title='', href='#', itemprop='url') Jone Kilna
                        .total-comments
                          a(title='', href='#', itemprop='url')
                            i.fa.fa-comments-o
                            |  1
                        span.total-views
                          i.fa.fa-eye
                          |  874
                      h3(itemprop='headline')
                        a(title='', href='single.html', itemprop='url') A New Era of Solar Energy
                      p(itemprop='description')
                        | The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why The languages only differ in their grammar a new common language.
                      |  
                      a.read-more(itemprop='url', href='#', title='')
                        | READ MORE
                        i.fa.fa-arrows-h
                .post-style4(itemtype='http://schema.org/BlogPosting', itemscope='')
                  .row
                    .col-md-6
                      .post-thumb4
                        img(alt='', src='images/1.jpg', itemprop='image')
                        a.img-link(href='single2.html', title='', itemprop='url')
                    .col-md-6
                      .post-metas4
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 Nov 2015
                            li
                              a(title='', href='#', itemprop='url') Jone Kilna
                        .total-comments
                          a(title='', href='#', itemprop='url')
                            i.fa.fa-comments-o
                            |  1
                        span.total-views
                          i.fa.fa-eye
                          |  874
                      h3(itemprop='headline')
                        a(title='', href='single2.html', itemprop='url') A New Era of Solar Energy
                      p(itemprop='description')
                        | The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why The languages only differ in their grammar a new common language.
                      |  
                      a.read-more(itemprop='url', href='#', title='')
                        | READ MORE
                        i.fa.fa-arrows-h
                .post-style4(itemtype='http://schema.org/BlogPosting', itemscope='')
                  .row
                    .col-md-6
                      .post-thumb4
                        img(alt='', src='images/2.jpg', itemprop='image')
                        a.img-link(href='single3.html', title='', itemprop='url')
                    .col-md-6
                      .post-metas4
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 Nov 2015
                            li
                              a(title='', href='#', itemprop='url') Jone Kilna
                        .total-comments
                          a(title='', href='#', itemprop='url')
                            i.fa.fa-comments-o
                            |  1
                        span.total-views
                          i.fa.fa-eye
                          |  874
                      h3(itemprop='headline')
                        a(title='', href='single3.html', itemprop='url') A New Era of Solar Energy
                      p(itemprop='description')
                        | The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why The languages only differ in their grammar a new common language.
                      |  
                      a.read-more(itemprop='url', href='#', title='')
                        | READ MORE
                        i.fa.fa-arrows-h
                .post-style4(itemtype='http://schema.org/BlogPosting', itemscope='')
                  .row
                    .col-md-6
                      .post-thumb4
                        img(alt='', src='images/3.jpg', itemprop='image')
                        a.img-link(href='single4.html', title='', itemprop='url')
                    .col-md-6
                      .post-metas4
                        .date
                          ul
                            li
                              a(title='', href='#', content='December-29-2014', itemprop='datePublished') 11 Nov 2015
                            li
                              a(title='', href='#', itemprop='url') Jone Kilna
                        .total-comments
                          a(title='', href='#', itemprop='url')
                            i.fa.fa-comments-o
                            |  1
                        span.total-views
                          i.fa.fa-eye
                          |  874
                      h3(itemprop='headline')
                        a(title='', href='single4.html', itemprop='url') A New Era of Solar Energy
                      p(itemprop='description')
                        | The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why The languages only differ in their grammar a new common language.
                      |  
                      a.read-more(itemprop='url', href='#', title='')
                        | READ MORE
                        i.fa.fa-arrows-h
                ul.pagination
                  li
                    a(aria-label='Previous', href='#')
                      span(aria-hidden='true') &larr; previous
                  li
                    span.current 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    span.extend ...
                  li
                    a(href='#') 10
                  li
                    a(aria-label='Next', href='#')
                      span(aria-hidden='true') next &rarr;
            include aside
            