footer.footer4
    .about-theme-sec(style="background-image:url('http://placehold.it/1367x480');")
        section.block
            .container
                .row
                    .about-strip
                        .col-md-7.column
                            h3 ABOUT MAGAZINE
                            p(itemprop='description')
                            | Dunt, et egestas magna molestie. Etiam bibendum dolor malesuada erat tincidunt, et egestas magna molestie. Etiam bibendum dolor malesuada erat tincidunt, et egestas magna molestie. Etiam bibendum dolor malesuada erat tincidunt
                        .col-md-5.column
                            form.subscribe
                                input(type='text', placeholder='Enter Your Email')
                                |  
                                button.fa.fa-paper-plane(type='submit')
    .bottom-line
        .container
            span COPYRIGHT 2015 Magazine Theme
            ul.footer-menu
                li
                    a(itemprop='url', href='#', title='') HOME
                li
                    a(itemprop='url', href='#', title='') THE TEAM
                li
                    a(itemprop='url', href='#', title='') PAGE
                li
                    a(itemprop='url', href='#', title='') CONTACT
                li
                    a(itemprop='url', href='#', title='') BLOG
script(type='text/javascript', src='/js/modernizr.js')
script(src='/js/jquery-2.1.4.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/html5lightbox.js')
script(type='text/javascript', src='/js/scrolltopcontrol.js')
script(type='text/javascript', src='/js/slick.min.js')
script(type='text/javascript', src='/js/owl.carousel.min.js')
script(type='text/javascript', src='/js/highlight.pack.js')
script(type='text/javascript', src='/js/tabifier.js')
script(type='text/javascript', src='/js/js.js')
script(type='text/javascript', src='/js/jPages.min.js')
script(type='text/javascript', src='/js/perfect-scrollbar.js')
script(type='text/javascript', src='/js/perfect-scrollbar.jquery.js')
script(src='/js/script.js')
script(src='/js/clock.js')
script.
    $(document).ready(function() {
    'use strict';
    $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    slide: 'li',
    fade: false,
    asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: false,
    arrows: false,
    slide: 'li',
    vertical: true,
    centerMode: true,
    focusOnSelect: true,
    responsive: [
    {
    breakpoint: 1200,
    settings: {
    slidesToShow: 5,
    slidesToScroll: 1,
    infinite: true,
    vertical: false,
    centerMode: true,
    dots: true
    }
    },
    {
    breakpoint: 600,
    settings: {
    slidesToShow: 1,
    slidesToScroll: 1
    }
    },
    {
    breakpoint: 480,
    settings: {
    slidesToShow: 3,
    vertical: false,
    slidesToScroll: 1
    }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
    ]
    });
    $("#carousal").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:true,
    dots:false,
    nav:true,
    margin:30,
    items:2,
    singleItem:true,
    responsiveClass:true,
    responsive:{
    0:{
    items:1,
    nav:true
    },
    600:{
    items:2,
    nav:false
    },
    900:{
    items:2,
    nav:true,
    loop:false
    }
    }
    });
    $("#carousal-team").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:true,
    dots:false,
    nav:false,
    margin:10,
    items:3,
    singleItem:true
    });
    $("#carousal3").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:true,
    dots:false,
    nav:true,
    margin:0,
    items:1,
    singleItem:true
    });
    $("#carousal-widget").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:false,
    dots:true,
    nav:false,
    margin:0,
    items:1,
    singleItem:true
    });
    $("#carousal-footer-widget").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:false,
    dots:true,
    nav:false,
    margin:0,
    items:1,
    singleItem:true
    });
    $(".big-post-carousel").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:false,
    dots:true,
    nav:false,
    margin:0,
    items:1,
    singleItem:true
    });
    $("#carousal-posts").owlCarousel({
    autoplay:true,
    autoplayTimeout:3000,
    smartSpeed:2000,
    loop:true,
    dots:false,
    nav:true,
    margin:4,
    items:3,
    singleItem:true,
    responsiveClass:true,
    responsive:{
    0:{
    items:1,
    nav:true
    },
    600:{
    items:2,
    nav:false
    },
    900:{
    items:2,
    nav:true,
    loop:false
    },
    1280:{
    items:3,
    nav:true,
    loop:false
    }
    }
    });
    $(function(){
    /* initiciate jPages */
    $("div.holder").jPages({
    containerID : "itemContainer",
    animation   : "fadeInUp",
    perPage : 4
    });
    /* on select change */
    $("select").change(function(){
    /* get new css animation */
    var newAnimation = $(this).val();
    /* destroy jPages and initiate plugin again */
    $("div.holder").jPages("destroy").jPages({
    containerID   : "itemContainer",
    animation     : newAnimation
    });
    });
    });
    });