header.mag-header
    nav.menu
        .container
            ul
                li.menu-item-has-children.game-logo
                    a(itemprop='url', href='#', title='') game4us
                li.menu-item-has-children
                    a(itemprop='url', href='#', title='')
                        i.purple
                        | &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                li.menu-item-has-children
                    a(itemprop='url', href='#', title='')
                        i.blue
                        | &scy;&tcy;&acy;&tcy;&softcy;&icy;
                li.menu-item-has-children
                    a(href='#', itemprop='', alt='')
                        i.pink
                        | &ocy;&bcy;&zcy;&ocy;&rcy;&ycy;
                li.menu-item-has-children
                    a(itemprop='url', href='#', title='')
                        i.yellow
                        | &kcy;&icy;&bcy;&iecy;&rcy;&scy;&pcy;&ocy;&rcy;&tcy;
                li.menu-item-has-children
                    a(itemprop='url', href='#', title='')
                        i.sea-green
                        | &kcy;&ocy;&scy;&pcy;&lcy;&iecy;&jcy;