doctype html
html
  include block/head
  body(itemscope='', onload='goforit()')
    .theme-layout
      include block/header
      include content/slider-article
      include block/content
    include block/footer
